includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database
        - routes
        - tests
    level: 9
    checkModelProperties: true
    checkUninitializedProperties: false
    excludePaths:
        - bootstrap/cache
        - storage
    reportUnmatchedIgnoredErrors: true
