.container {
    padding-top: 3rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 1.25rem;
}

.title {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #2b1b04;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
}

.field {
    margin-bottom: 1.5rem;
}

.label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #2b1b04;
    font-size: 1rem;
    display: block;
}

.input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 1.25rem;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.input:focus {
    border-color: #2b1b04;
    outline: none;
    box-shadow: 0 0 5px rgba(43, 27, 4, 0.2);
}

.value {
    font-size: 1rem;
    color: #333;
    background-color: #f0f0f0;
    padding: 0.75rem;
    border-radius: 1.25rem;
    margin-top: 0.5rem;
}

.errorMessage {
    color: #d32f2f;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.actionButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.cancelButton,
.saveButton {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-bottom: 0.5rem;
}

.cancelButton:hover {
    background-color: var(--secondary-color-hover);
}

.saveButton:hover {
    background-color: var(--secondary-color-hover);
}

.spoilerButton {
    background-color: transparent;
    color: var(--secondary-color);
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    cursor: pointer;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    transition: color 0.3s ease;
}

.spoilerButton:hover {
    color: var(--secondary-color-hover);
}

.traitsContainer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.traitsContainer.visible {
    max-height: 200px;
}

.traitsList {
    list-style-type: none;
    padding: 0;
    margin: 0.5rem 0;
}

.traitsList li {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #333;
}

.traitsList strong {
    color: #2b1b04;
    font-weight: bold;
}
